body{
    background-color: #f1f3f6;
}
.letest-blog{
    width: 100vw;
    padding: 2em;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .letest-blog a{
      text-decoration: none;
  }
  .card{
    width: 20rem;
    height: auto;
    background: #fff;
    border-radius: 1.5rem;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.2s ease-in-out;
  }
  
  .card-img-holder{
    width: 100%;
    height: auto;
    position: relative;
  }
  
  .card-img-holder img{
    width: 100%;
    height: auto;
    max-height: 15rem;
    object-fit: cover;
    border-radius: 1.5rem;
  }
  
  .blog-title{
    color: #22215B;
    padding: 1rem 0;
    font-size: 1.5rem;
  }
  
  .description{
    padding: 1rem 0;
    color: #22215B80;
    font-size: 1rem;
  }
  
  .blog-time{
    font-size: .8rem;
    color: #22215B;
  }
  
  .options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
  }
  
  .options span{
    font-weight: 600;
    color: #22215B;
  }
  
  .btn{
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-weight: 400;
    background: #EEF7FE;
    color: #22215B;
    cursor: pointer;
  }
  .card:hover {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }