body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0.5em;
    border-bottom: 2px solid #FF8343;
}
.nav-links{
    margin-left: 2em;
}
.nav-links a{
    position: relative;
    color: black;
    text-decoration: none;
    margin: 1em;
}

.nav-links a::after {
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -2px;
    position: absolute;
    background-color: #FF8343;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
    border-radius: 2px;
}
.nav-links a:hover:after{
    color: #FF8343;
    transform: scaleX(1);
}
.search{
    /* margin-left: 10em; */
}
.log-sign{
    margin-left: 1em;
}
.log-sign a{
    text-decoration: none;
    background-color: #173B45;
    color: white;
    border-radius: 2px;
    margin: 0.3em;
    padding: 0.5em 1em;
    transition: all 0.3s ease-in-out;
    
}
.log-sign a:hover{
    background-color: #FF8343;
    /* color: #173B45; */
}

.nav-main{
    background-image: url('../img/person.jpg');
    background-position: 0;
    background-size: cover;
    height: 400px;
    width: 100%;
}
.nav-content{
    width: 60%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.nav-content span{
    color: #FF8343;
}
.nav-content h1{
    font-size: 3.5em;
    margin: 0.3em 0;
}