@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-main{
    background-image: url('../img/person.jpg');
    background-position: 0;
    background-size: cover;
    height: 500px;
    width: 100%;
}
.nav-content{
    width: 60%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.nav-content span{
    color: #FF8343;
}
.nav-content h1{
    font-size: 3.5em;
    margin: 0.3em 0;
}
.box1{
    display: flex;
    /* flex-direction: column; */
}
.box1-img img{
    width: 100%;
    border-radius: 0 0 50px 0;
}
.box1-img{
    /* background-color: #FF8343; */
    width: 50%;
}
.box1-content{
    width: 50%;
    /* padding: 2.7em; */
    display: grid;
    place-items: center;
}
.box1-content dl{
  width: 80%;
}
.box1-content dt{
    margin: 0 0.5em;
    color: #FF8343;
    font-size: 1.5em;
}
.box1-content dd{
    margin-left: 1.5em;
    color: #686D76;
}

.box2{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background: #f1f3f6;
    font-family: 'Rubik', sans-serif;
    padding: 2em 1.7em 3em 1.7em;
}
.box2>h3{
    font-size: 2.5em;
    margin: 0.6em;
}
.box2>a{
    text-decoration: none;
    color: #EEF7FE;
    background-color: #FF8343;
    padding: 1em 2em;
    border-radius: 5px;
    margin-top: 2em;
    transition: box-shadow 0.2s ease-in-out;
}
.box2>a:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.letest-blog{
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.letest-blog a{
    text-decoration: none;
}
.card{
  width: 25rem;
  height: auto;
  background: #fff;
  border-radius: 1.5rem;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.2s ease-in-out;
}

.card-img-holder{
  width: 100%;
  height: auto;
  position: relative;
}

.card-img-holder img{
  width: 100%;
  height: auto;
  max-height: 15rem;
  object-fit: cover;
  border-radius: 1.5rem;
}

.blog-title{
  color: #22215B;
  padding: 1rem 0;
  font-size: 1.5rem;
}

.description{
  padding: 1rem 0;
  color: #22215B80;
  font-size: 1rem;
}

.blog-time{
  font-size: .8rem;
  color: #22215B;
}

.options{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

.options span{
  font-weight: 600;
  color: #22215B;
}

.btn{
  font-size: 1rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
  font-weight: 400;
  background: #EEF7FE;
  color: #22215B;
  cursor: pointer;
}
.card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.box3{
    background-image: url('../img/model4.jpg');
    background-size: cover;
    width: 100%;
    height: 500px;
}